/*
-- Custom css
-- Jahrulnr
*/

a {
  text-decoration: none;
}

.ucfirst {
    text-transform: lowercase;
}
.ucfirst:first-letter {
    text-transform: uppercase;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

#logo {
  width: 100%;
  max-width: 3.6rem;
}

#layoutSidenav_nav .sb-sidenav-menu-heading {
  color: var(--bs-gray-500) !important;
}

#layoutSidenav_nav .nav-link {
  color: var(--bs-light) !important;
}

.card {
	text-decoration: none !important;
}

.card-header > svg {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.menu-materi {
  background: var(--bs-gray-200);
}

.dark-bg {
	background-color: var(--bs-gray-800) !important;
	color: var(--bs-white) !important;
}

.mode-panel {
  color: var(--bs-light);
  justify-content: flex-end !important;
  width: 100% !important;
  margin-right: 1rem !important;
}

.mode-panel .form-check .form-check-input {
  float: right !important;
  margin-left: 0.5rem !important;
}

.dark-bg > .text-muted, .dark-bg > .sb-sidenav-menu-heading{
	color: var(--bs-gray-500) !important;
}

.dark-bg > .nav-link{
	color: var(--bs-gray-300) !important;
}

.dark-bg table {
  color: white !important;
}

.dark-bg .card {
  background-color: var(--bs-gray-900) !important;
  border-color: var(--bs-gray-900) !important;
  color: var(--bs-light) !important;
}

.dark-bg .form-control, .dark-bg .form-select,
.dark-bg .paginate_button:not(.active) a{
  background-color: var(--bs-gray-700) !important;
  border-color: var(--bs-gray-800) !important;
  color: var(--bs-light) !important;
}

.btn_datatables {
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
}

.dark-bg .btn-close {
  filter: invert(100%);
}

.dark-bg .btn-none {
  color: var(--bs-light);
}

.dark-bg .select2.select2-container.select2-container--bootstrap-5.select2-container--above {
  background: transparent !important;
}

.dark-bg .select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear, .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__clear,
.dark-bg .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
  filter: invert(100%);
}

.dark-bg .select2-dropdown.select2-dropdown--below,
.dark-bg .select2-selection.select2-selection--multiple,
.dark-bg .select2-dropdown.select2-dropdown--above {
  background: var(--bs-gray-700) !important;
  color: var(--bs-light);
  border-color: var(--bs-gray-800) !important;
}

.dark-bg .select2-selection__choice,
.dark-bg .select2-selection__choice__display,
.dark-bg .select2-results__option.select2-results__option--selectable.select2-results__option--selected {
  background: var(--bs-gray-800) !important;
  color: var(--bs-light) !important;
  border-color: transparent !important;
}

.dark-bg .select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
  background: var(--bs-primary) !important;
  color: var(--bs-light) !important;
  border: transparent !important;
}

.dark-bg .select2-search__field {
  color: var(--bs-light);
}

.table-header td{
  padding: 0 1rem .5rem 0 !important;
}

.dark-bg .nav-tabs {
  border-bottom: 1px solid var(--bs-gray-600);
}

.dark-bg .nav-tabs .nav-link.active {
  border: 1px solid var(--bs-gray-600);
}

.dark-bg .nav-item[role="presentation"] button.active{
  background: var(--bs-gray-600) !important;
  color: var(--bs-light);
  border-bottom: none;
}

.dark-bg .nav-item[role="presentation"] button{
  color: var(--bs-light);
}

.tab-pane {  
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 1rem;
  margin-top: 0;
}

.dark-bg .tab-pane {
  border: 1px solid var(--bs-gray-600) !important;
  border-top: none !important;
  padding: 1rem !important;
  margin-top: 0;
}

.dark-bg #canvasSeluruhMateri, .dark-bg #canvasSeluruhMahasiswa {
  filter: brightness(300%);
}

#table_data th {
  text-align: center;
}

.dark-bg .input-group-text {
  color: white;
  background: var(--bs-gray-900);
  border-color: var(--bs-gray-900);
}

/* Loading  */
#load_page {
	position: absolute;
	z-index: 999999;
	top: 0;
	background: #000;
}

.loader{
    position:absolute;
    width:320px;
    height:240px;
    left:50%;
    top:50%;
    margin-left:-160px;
    margin-top:-120px;
    border-radius:4px;
    transition:opacity 400ms;
}

.loader h4{
   text-align:center;
   width:100%;
   position:absolute;
   bottom:0px;
   font-family:'Source Sans',sans-serif;
   font-weight:300;
   color:  var(--bs-white);
}

@keyframes pulse{
    0%{
      height:0%;
      box-shadow:0 0 4px rgba(0,0,0,1.0);
    }
    20%{
      background:rgba(255,255,255,0.5);
      height:100%;
      box-shadow:0 0 8px rgba(255,255,255,0.0);
    }
    50%{
      background:rgba(17,217,255,1);
      box-shadow:0 0 8px rgba(17,217,255,0.8);
    }
    80%{
      background:rgba(255,255,255,0.5);
      height:100%;
      box-shadow:0 0 8px rgba(255,255,255,0.0);
    }
    100%{
      height:0%;
      box-shadow:0 0 4px rgba(0,0,0,1.0);
    }
}

.loader > ul{
    list-style:none;
    position:absolute;
    width:120px;
    height:120px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.loader li{
	width:4px;
	height:30px;
	border-radius:2px;
	background:#050505;    
	position:absolute;
	left:50%;
	top:10px;
	margin-left:-2px;
	transform-origin:2px 50px;
    box-shadow:1px 0 0 rgba(255,255,255,0.1);
}

.loader li div{
    border-radius:2px;
    width:4px;
    background:rgba(255,255,255,0.5);
    position:absolute;
    bottom:0px;
    left:0px;
    animation:pulse 6s normal infinite;
}

.loader ul>li:nth-of-type(1){
 transform:rotate(0deg);   
 box-shadow:0 1px 0 rgba(255,255,255,0.1);
}

.loader ul>li:nth-of-type(1)>div{
 animation-delay:100ms;   
}

.loader ul>li:nth-of-type(2){
 transform:rotate(30deg);   
}

.loader ul>li:nth-of-type(2)>div{
 animation-delay:200ms;   
}

.loader ul>li:nth-of-type(3){
 transform:rotate(60deg);   
}

.loader ul>li:nth-of-type(3)>div{
 animation-delay:300ms;   
}

.loader ul>li:nth-of-type(4){
 transform:rotate(90deg);   
}

.loader ul>li:nth-of-type(4)>div{
 animation-delay:400ms;   
}

.loader ul>li:nth-of-type(5){
 transform:rotate(120deg);   
}

.loader ul>li:nth-of-type(5)>div{
 animation-delay:500ms;   
}

.loader ul>li:nth-of-type(6){
 transform:rotate(150deg);   
}

.loader ul>li:nth-of-type(6)>div{
 animation-delay:600ms;   
}

.loader ul>li:nth-of-type(7){
 transform:rotate(180deg);   
 box-shadow:0 -1px 0 rgba(255,255,255,0.1);
}

.loader ul>li:nth-of-type(7)>div{
 animation-delay:700ms;   
}

.loader ul>li:nth-of-type(8){
 transform:rotate(210deg);   
 box-shadow:-1px 0 0 rgba(255,255,255,0.1);
}

.loader ul>li:nth-of-type(8)>div{
  animation-delay:800ms;   
}

.loader ul>li:nth-of-type(9){
 transform:rotate(240deg);   
 box-shadow:-1px 0 0 rgba(255,255,255,0.1);
}

.loader ul>li:nth-of-type(9)>div{
 animation-delay:900ms;   
}

.loader ul>li:nth-of-type(10){
 transform:rotate(270deg);   
 box-shadow:-1px 0 0 rgba(255,255,255,0.1);
}

.loader ul>li:nth-of-type(10)>div{
 animation-delay:1000ms;   
}

.loader ul>li:nth-of-type(11){
 transform:rotate(300deg);   
 box-shadow:-1px 0 0 rgba(255,255,255,0.1);
}

.loader ul>li:nth-of-type(11)>div{
 animation-delay:1100ms;   
}

.loader ul>li:nth-of-type(12){
 transform:rotate(330deg);   
 box-shadow:-1px 0 0 rgba(255,255,255,0.1);
}

.loader ul>li:nth-of-type(12)>div{
 animation-delay:1200ms;   
}

.loader{
	position:absolute;
    width:320px;
    height:240px;
    left:50%;
    top:50%;
    margin-left:-160px;
    margin-top:-120px;
    border-radius:4px;
}

.loader::after{
	position:absolute;
    width:100%;
    height:100%;
    background-size:200% 240%;
    top:0px;
    left:0px;
    z-index:4;
    content:' ';
}